@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cwTeXFangSong", serif, helvetica, sans-serif;
}

.App-header * {
  font-family: "Pangolin", "ChalkboardSE-Light", "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./background/background.png');
  background-size: 100vw 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
p, ol {
  margin: 12px 0;
  padding: 0;
  font-size: 19px;
}

h3 {
  font-size: 28px;
}


.App-header {
  padding: 0;
  width: 100%;
  min-height: 10vh;
  display: inline-block;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgb(120,0,0);
  position: fixed;
  top: 0;
  z-index: 50;
}

.title {
  margin: 10px 0 0 0;
}
.App-link {
  color: #61dafb;
}

.content {
  position: relative;
  top: 250px;
  z-index: 3;
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden; 
  font-size: 18px;
}

.column {
  vertical-align: text-top;
}
* .extended {
  padding-bottom: 300px;
}
.big {
  width: 48%;
  margin-right: 10%;
  text-align: left;
}

.small {
  width: 30%;
}
.left {
  clear: both;
  float: left;
  margin-left: 10%;
}
.right {
  margin-left: 0;
  float: right;
}

.photo {
  max-width: 400px;
  max-height: 400px;
  margin-left: -100px;
  margin-top: 20px;
}

.footer {
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
  background-color: rgb(120,0,0);
}
.static_profile {
  position: fixed;
  top: 240px;
}
.static_publications {
  position: fixed;
  top: 240px;
  left: 70%;
}
.static_team {
  position: fixed;
  top: 300px;
  left: 5%;
}
.static_others {
  position: fixed;
  top: 300px;
  left: 70%;
}
.navbar-item {
  width: 10%;
}
.navbar-item:hover {
  cursor: pointer;
}
.navbar-click span{
  padding: 0 10px 3px 10px;
  border-radius: 100px;
  background-color: rgb(120,0,0);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
